/* odoc.css expects that the DOM elements are arranged by the odoc HTML generator.

   When we go from odoc HTML to some intermediate format (ex. MarkDown) and then
   back to HTML, we will lose some of the DOM structure.

   This CSS fixes that.
*/

/* 

--------------------- PART ONE ------------------------

odoc HTML:

<body class="odoc">
  <nav class="odoc-toc">
    <ul>
    </ul>
  </nav>
</body>

DOM after intermediate format:

<body>
  <ul>
  </ul>
</body>

So ...
1. Replace .odoc-toc ul {} with body>ul {}
2. Replace nav {} with body>ul {}
*/

body>ul/*nav*/ {
    font-family: "Fira Sans", Helvetica, Arial, sans-serif;
}

/* Sidebar and TOC */

body>ul/*.odoc-toc*/:before {
    display: block;
    content: "Contents";
    text-transform: uppercase;
    font-size: 1em;
    margin: 1.414em 0 0.5em;
    font-weight: 500;
    color: var(--toc-before-color);
    line-height: 1.2;
}

body>ul/*.odoc-toc*/ {
    position: fixed;
    top: 0px;
    bottom: 0px;
    left: 0px;
    max-width: 30ex;
    min-width: 26ex;
    width: 20%;
    background: var(--toc-background);
    overflow: auto;
    color: var(--toc-color);
    padding-left: 2ex;
    padding-right: 2ex;
}

body>ul/* .odoc-toc ul */ li a {
    font-family: "Fira Sans", sans-serif;
    font-size: 0.95em;
    color: var(--color);
    font-weight: 400;
    line-height: 1.6em;
    display: block;
}

body>ul/* .odoc-toc ul */ li a:hover {
    box-shadow: none;
    text-decoration: underline;
}

/* First level titles */

body>ul/*.odoc-toc>ul*/>li>a {
    font-weight: 500;
}

body>ul li ul {
    margin: 0px;
}

body>ul/*.odoc-toc ul*/ {
    list-style-type: none;
}
body>ul/*.odoc-toc ul*/ ul {
    list-style-type: none;
}

body>ul/*.odoc-toc ul*/ li {
    margin: 0;
}

body>ul/*.odoc-toc>ul*/>li {
    margin-bottom: 0.3em;
}

body>ul/*.odoc-toc ul*/ li li {
    border-left: 1px solid var(--toc-list-border);
    margin-left: 5px;
    padding-left: 12px;
}

/* Mobile adjustements. */

@media only screen and (max-width: 95ex) {
    body>ul/*.odoc-toc*/ {
        position: static;
        width: auto;
        min-width: unset;
        max-width: unset;
        border: none;
        padding: 0.2em 1em;
        border-radius: 5px;
    }
}