pre { line-height: 125%; }
td.linenos .normal { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
span.linenos { color: inherit; background-color: transparent; padding-left: 5px; padding-right: 5px; }
td.linenos .special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
span.linenos.special { color: #000000; background-color: #ffffc0; padding-left: 5px; padding-right: 5px; }
pre.code .hll { background-color: #ebdbb2 }
pre.code { background: #282828; color: #dddddd }
pre.code .c { color: #928374; font-style: italic } /* Comment */
pre.code .err { color: #282828; background-color: #fb4934 } /* Error */
pre.code .esc { color: #dddddd } /* Escape */
pre.code .g { color: #dddddd } /* Generic */
pre.code .k { color: #fb4934 } /* Keyword */
pre.code .l { color: #dddddd } /* Literal */
pre.code .n { color: #dddddd } /* Name */
pre.code .o { color: #dddddd } /* Operator */
pre.code .x { color: #dddddd } /* Other */
pre.code .p { color: #dddddd } /* Punctuation */
pre.code .ch { color: #928374; font-style: italic } /* Comment.Hashbang */
pre.code .cm { color: #928374; font-style: italic } /* Comment.Multiline */
pre.code .c-PreProc { color: #8ec07c; font-style: italic } /* Comment.PreProc */
pre.code .cp { color: #928374; font-style: italic } /* Comment.Preproc */
pre.code .cpf { color: #928374; font-style: italic } /* Comment.PreprocFile */
pre.code .c1 { color: #928374; font-style: italic } /* Comment.Single */
pre.code .cs { color: #ebdbb2; font-weight: bold; font-style: italic } /* Comment.Special */
pre.code .gd { color: #282828; background-color: #fb4934 } /* Generic.Deleted */
pre.code .ge { color: #dddddd; font-style: italic } /* Generic.Emph */
pre.code .gr { color: #fb4934 } /* Generic.Error */
pre.code .gh { color: #ebdbb2; font-weight: bold } /* Generic.Heading */
pre.code .gi { color: #282828; background-color: #b8bb26 } /* Generic.Inserted */
pre.code .go { color: #f2e5bc } /* Generic.Output */
pre.code .gp { color: #a89984 } /* Generic.Prompt */
pre.code .gs { color: #dddddd; font-weight: bold } /* Generic.Strong */
pre.code .gu { color: #ebdbb2; text-decoration: underline } /* Generic.Subheading */
pre.code .gt { color: #fb4934 } /* Generic.Traceback */
pre.code .kc { color: #fb4934 } /* Keyword.Constant */
pre.code .kd { color: #fb4934 } /* Keyword.Declaration */
pre.code .kn { color: #fb4934 } /* Keyword.Namespace */
pre.code .kp { color: #fb4934 } /* Keyword.Pseudo */
pre.code .kr { color: #fb4934 } /* Keyword.Reserved */
pre.code .kt { color: #fb4934 } /* Keyword.Type */
pre.code .ld { color: #dddddd } /* Literal.Date */
pre.code .m { color: #d3869b } /* Literal.Number */
pre.code .s { color: #b8bb26 } /* Literal.String */
pre.code .na { color: #fabd2f } /* Name.Attribute */
pre.code .nb { color: #fe8019 } /* Name.Builtin */
pre.code .nc { color: #8ec07c } /* Name.Class */
pre.code .no { color: #d3869b } /* Name.Constant */
pre.code .nd { color: #fb4934 } /* Name.Decorator */
pre.code .ni { color: #dddddd } /* Name.Entity */
pre.code .ne { color: #fb4934 } /* Name.Exception */
pre.code .nf { color: #8ec07c } /* Name.Function */
pre.code .nl { color: #dddddd } /* Name.Label */
pre.code .nn { color: #8ec07c } /* Name.Namespace */
pre.code .nx { color: #dddddd } /* Name.Other */
pre.code .py { color: #dddddd } /* Name.Property */
pre.code .nt { color: #8ec07c } /* Name.Tag */
pre.code .nv { color: #83a598 } /* Name.Variable */
pre.code .ow { color: #fb4934 } /* Operator.Word */
pre.code .w { color: #dddddd } /* Text.Whitespace */
pre.code .mb { color: #d3869b } /* Literal.Number.Bin */
pre.code .mf { color: #d3869b } /* Literal.Number.Float */
pre.code .mh { color: #d3869b } /* Literal.Number.Hex */
pre.code .mi { color: #d3869b } /* Literal.Number.Integer */
pre.code .mo { color: #d3869b } /* Literal.Number.Oct */
pre.code .sa { color: #b8bb26 } /* Literal.String.Affix */
pre.code .sb { color: #b8bb26 } /* Literal.String.Backtick */
pre.code .sc { color: #b8bb26 } /* Literal.String.Char */
pre.code .dl { color: #b8bb26 } /* Literal.String.Delimiter */
pre.code .sd { color: #b8bb26 } /* Literal.String.Doc */
pre.code .s2 { color: #b8bb26 } /* Literal.String.Double */
pre.code .se { color: #fe8019 } /* Literal.String.Escape */
pre.code .sh { color: #b8bb26 } /* Literal.String.Heredoc */
pre.code .si { color: #b8bb26 } /* Literal.String.Interpol */
pre.code .sx { color: #b8bb26 } /* Literal.String.Other */
pre.code .sr { color: #b8bb26 } /* Literal.String.Regex */
pre.code .s1 { color: #b8bb26 } /* Literal.String.Single */
pre.code .ss { color: #b8bb26 } /* Literal.String.Symbol */
pre.code .bp { color: #fe8019 } /* Name.Builtin.Pseudo */
pre.code .fm { color: #8ec07c } /* Name.Function.Magic */
pre.code .vc { color: #83a598 } /* Name.Variable.Class */
pre.code .vg { color: #83a598 } /* Name.Variable.Global */
pre.code .vi { color: #83a598 } /* Name.Variable.Instance */
pre.code .vm { color: #83a598 } /* Name.Variable.Magic */
pre.code .il { color: #d3869b } /* Literal.Number.Integer.Long */
